<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          About Us
        </h1>
        <p class="text-white link-nav"><a href="home">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about">
            About Us</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<section class="home-about-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h6 class="text-uppercase">Alexandra Gómez</h6>
        <h1>
          Hemos puesto a tu disposición nuestros mejores servicios
          para que los disfrutes
        </h1>
        <p>
          <span> </span>
        </p>
        <p>
            Es un placer presentarles nuestro portafolio de servicios fruto de años de experiencia, en los que buscamos siempre llegar a ustedes con el mejor de los servicios, en todo lo relacionado con tratamientos de estética facial, corporal y de Spa con las mejores técnicas y aparatología.
        </p>
        <p>
            Contamos con estrictas normas de calidad y seguridad en todos nuestros tratamientos faciales y corporales, siendo nuestra prioridad conseguir la completa satisfacción de nuestros pacientes en un ambiente agradable y confortable en nuestra cabina ubicada estratégicamente en la ciudad para brindar un oportuno servicio. 
        </p>
      </div>
    </div>
  </div>
  <img class="about-img" src="assets/img/t4.jpg" alt="">
</section>
<!-- End home-about Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 about-video-left">
        <h1>
          Ellos han confiado <br>
          en nosotros
        </h1>
        <p>
          <span>Escucha sus opiniones</span>
        </p>
        <p>
          Te invitamos a que veas este corto video donde nuestros clientes expresan su agradecimiento
          y muestran su satisfacción con el tratamiento recibido.
        </p>
        <a class="primary-btn" href="contact">Contáctanos</a>
      </div>
      <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="assets/img/play.png"
            alt=""></a>
      </div>
    </div>
  </div>
</section>
<!-- End about-video Area -->