<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex justify-content-center align-items-center">
      <div class="banner-content col-lg-10 col-md-12 justify-content-center">
        <h6 class="text-uppercase">Ayudaremos a que tu cuerpo se relaje y tu mente desconecte.</h6>
        <h1>
          Alexandra Gómez
        </h1>
        <p class="text-white mx-auto">
          Ven y disfruta de los mejores masajes de la
          ciudad.
        </p>
        <a href="#" class="primary-btn squire text-uppercase mt-10">¡Contactanos!</a>
      </div>
    </div>
  </div>
</section>