<section class="item-category-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-80 header-text text-center">
        <h1 class="pb-10">Algunos de nuestro Servicios</h1>
        <p>
          They are grilling celebrities in their own right.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-cat-item">
          <div class="thumb">
            <img style="width: 180px" class="img-fluid" src="assets/img/c1.jpg" alt="">
          </div>
          <a href="#">
            <h4>Terapias Alternativas</h4>
          </a>
          <p>
            Renuevate, Relájate y Recarga Energía.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-cat-item">
          <div class="thumb">
            <img style="width: 280px" class="img-fluid" src="assets/img/c2.jpg" alt="">
          </div>
          <a href="#">
            <h4>Corporal</h4>
          </a>
          <p>
            Aportan un beneficio tanto para la mente como para el cuerpo, y los puedes combinar a tu medida.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-cat-item">
          <div class="thumb">
            <img style="width: 280px" class="img-fluid" src="assets/img/c3.jpg" alt="">
          </div>
          <a href="#">
            <h4>Facial</h4>
          </a>
          <p>
            Encuentra el tratamiento adecuado que necesitas para cuidar y rejuvenecer tu rostro.
          </p>
        </div>
      </div>
      <a class="primary-btn mx-auto mt-80" href="#">Ver catálogo completo</a>
    </div>
  </div>
</section>