<section class="item-category-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-80 header-text text-center">
        <h1 class="pb-10">Algunos de nuestro Servicios</h1>
        <p>
          They are grilling celebrities in their own right.
        </p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let service of ourServices"
        class="col-lg-4 col-md-6">
        <div class="single-cat-item">
          <div class="thumb">
            <img style="width: 180px" class="img-fluid" [src]="service.image" alt="">
          </div>
          <a href="#">
            <h4>{{service.name}}</h4>
          </a>
          <p>
            {{service.description}}
          </p>
        </div>
      </div>
      <a class="primary-btn mx-auto mt-80" href="#">Ver catálogo completo</a>
    </div>
  </div>
</section>