<section class="about-video-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 about-video-left">
        <h6 class="text-uppercase">Brand new app to blow your mind</h6>
        <h1>
          ¡Alexandra Gomez<br>
          en acción!
        </h1>
        <p>
          <span>Hidrolipoclasia</span>
        </p>
        <p>
          En este video puedes hacerte una idea de nuestros servicios.
        </p>
        <a class="primary-btn" href="#">Más información</a>
      </div>
      <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="assets/img/play.png"
            alt=""></a>
      </div>
    </div>
  </div>
</section>