<section class="home-about-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h6 class="text-uppercase">Brand new app to blow your mind</h6>
        <h1>
          We’ve baked every item
          from the core of our heart to serve you
        </h1>
        <p>
          <span>We are here to listen from you deliver exellence by any means</span>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim.
        </p>
        <a class="primary-btn squire mx-auto mt-20" href="#">Get Started Now</a>
      </div>
    </div>
  </div>
  <img class="about-img" src="assets/img/about-img.png" alt="">
</section>