<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Listado de Servicios
        </h1>
        <p class="text-white link-nav"><a href="home">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="catalog">
            Servicios</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start menu-list Area -->
<section class="menu-list-area section-gap">
  <div class="container">
    <div class="row">
      <div class="menu-cat mx-auto">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">

          <li *ngFor="let category of categories; let i = index" class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" [class.active]="i == 0" [id]="category.id" [href]="'#' + category.reference"
              [attr.aria-controls]="category.reference" [attr.aria-selected]="i == 0">{{category.name}}</a>
          </li>

        </ul>
      </div>
    </div>
    <div id="pills-tabContent" class="tab-content absolute">

      <div *ngFor="let category of categories; let i = index" class="tab-pane fade" [id]="category.reference" role="tabpanel"
        aria-labelledby="category.id" [class.active]="i == 0" [class.show]="i == 0">
        <div *ngFor="let service of services | categoryFilter: category.reference" class="single-menu-list row justify-content-between align-items-center">
          <div class="col-lg-9">
            <a href="#">
              <h4>{{service.name}}</h4>
            </a>
            <p>
              {{service.description}}
            </p>
          </div>
          <div class="col-lg-3 flex-row d-flex price-size">
            <div class="s-price col">
              <h4>6”</h4>
              <span>$15</span>
            </div>
            <div class="s-price col">
              <h4>10”</h4>
              <span>$20</span>
            </div>
            <div class="s-price col">
              <h4>14”</h4>
              <span>$25</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- End menu-list Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 about-video-left">
        <h6 class="text-uppercase">Brand new app to blow your mind</h6>
        <h1>
          We’ve made a life <br>
          that will change you
        </h1>
        <p>
          <span>We are here to listen from you deliver exellence</span>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmo d tempor incididunt ut labore et
          dolore magna aliqua.
        </p>
        <a class="primary-btn" href="#">Get Started Now</a>
      </div>
      <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play.png"
            alt=""></a>
      </div>
    </div>
  </div>
</section>
<!-- End about-video Area -->